<h2>Question:</h2>
<div class="jumbotron">
	<h3>{{model.title}}</h3>
	<p>{{model.body}}</p>
</div>

<h3>Answers:</h3>
<ul class="jumbotron">
	{{#each model.answers as |answer|}}
		<li><strong>{{answer.answer}}</strong></li>
		<p>~ {{answer.author}}</p>
	{{/each}}
</ul>

{{new-answer saveAnswer='saveAnswer' question=model}}

{{edit-question question=model update="update"}}
