<h2>Question:</h2>
<div class="jumbotron">
	<h3>{{model.title}}</h3>
	<p>{{model.body}}</p>
	<p><em> ~ {{model.author}}</em></p>
</div>
<p><em>Asked {{model.timeStamp}}</em></p>

<h3>Answers:</h3>
<ul class="jumbotron">
	{{#each model.answers as |answer|}}
		<p>{{howLongAgo answer}}:</p>
		<li><strong>{{answer.body}}</strong></li>
		<p><em>~ {{answer.author}}</em></p>
	{{/each}}
</ul>

{{new-answer saveAnswer='saveAnswer' question=model}}

{{edit-question question=model update="update"}}
